.ant-layout-header {
    background:#000
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.5);
    margin: 16px;
    width:200px;
    position: absolute;
    right:50px;
}
.wai_logo {
    height: 100%;
    width: 30%;
    position: relative;
}
.wai_center {
    height: 100%;
    width: 50%;
    margin-left:2vh;
}
.wai_search {
    width: 20%;
    display:flex;
    align-items: center;
    margin-right:2vh;
}
.header {
    display:flex;
    justify-content: center;
    /* background: #000 !important; */
}

.ant-menu {
    background:#001529 !important;
    color:#fff !important;
}

.main_center {
    height: 100%;
    width:66%;
    margin:2vh auto;
    position: relative;
}


/* widget */

.widget {
    width: 100%;
    /* padding:1vh; */
    height: 100%;
    margin-bottom:2vh
}