.main_content {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.main_content .left {
    width: 68%;
    height: 100%;
}

.main_content .right {
    margin-left:2vh;
    width: 32%;
    height: 100%;
}

.main_content .left .p_content {
    height: 100%;
    width: 100%;
    background:#121212;
}
.p_content h1,h2,h3,h4,h5,h6{
    color:#fff;
    font-weight: 900;
}

.main_content .left .p_content img{
    display: flex;
    justify-content: center;
    width:70%;
    margin:2vh auto;
    margin-top:2vh;
}

.main_content .left .p_comment {
    height: 100%;
    width: 100%;
    margin-top:2vh;
    background:#000
}
.main_content .left .p_ra {
    height: 100%;
    width: 100%;
    margin-top:2vh;
}


.re {
    display:flex;
    flex-direction:column;
    padding:20px;
    border-bottom:1px solid #7d7d7d;
    cursor:pointer
}

.re:last-child {
    border-bottom:none;
}

.re:hover {
    background: #1f2021;
}

.p_ra .ant-card-body {
    padding:0
}